body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    background-color: var(--color-bg);
}

h1, h2, h3 {
    font-family: 'Syne';
}
h1 {
    font-weight: 740;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 680;
}

.container {
    width: calc(100% - 20%);
    margin: 0 auto;
}

/* Header */
#site-header {
    display: flex;
    height: 120px;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(135deg, var(--color-main-header-bg) 0%, var(--color-main-header-bg2) 100%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
}
#site-header-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#site-header .logo {
    font-family: 'Syne';
    font-size: 2.5em;
    font-weight: 740;
    text-decoration: none;
    white-space: nowrap;
    overflow: visible;
    margin: 0;
    color: var(--color-pathway-element-bg);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

#pathway {
    color: var(--color-main-pathway-text);
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
}

#pathwayDescription {
    flex: 1 1 0;
    display: flex;
}
#pathwayDescriptionContents {
    max-width: 400px;
}
#pathwayDescriptionContents h2 {
    font-size: 3em;
    margin-bottom: 26px;
}

#pathwayContents {
    flex: 2 1 0;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#pathwayContents a {
    text-decoration: none;
    color: inherit;
}

.pathwayContainer {
    transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;

    flex: 1 1 calc(40% - 16px);
    max-width: calc(40% - 16px);
    box-sizing: border-box;
    
    border-top: 2px solid var(--color-main-pathway-text);

    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 16px;
}
.pathwayContainer h3 {
    font-family: 'Syne';
    font-weight: 680;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.pathwayContainer:hover {
    animation: pathwayBackgroundHighlight .1s alternate, pathwayBorderTopHighlight .1s alternate;
    animation-fill-mode: forwards;
}
.pathwayContainer:hover * {
    animation: pathwayTextHighlight .1s alternate;
    animation-fill-mode: forwards;
}


.pathwayHeader {
    color: var(--color-pathways-text);
}

.box {
    width: 150px;
    height: 150px;
    font-size: 4em;
    text-align: center;
    border: 2px solid;
    margin-bottom: 10px;
    line-height: 1.05em;
    margin-left: auto;
    margin-right: auto;

    animation-duration: 2s;
}

@keyframes anim1 {
    from {transform: translateX(200px)}
}
#box1 {
    animation-name: anim1;
    animation-duration: 2s;
}