body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

h1, h2, h3 {
    font-family: 'Syne';
}
h1 {
    font-weight: 740;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 680;
}

#main {
    color: var(--color-main-text);
    background: linear-gradient(135deg, var(--color-main-bg) 0%, var(--color-main-bg2) 100%);
}
#main h1 {
    font-size: 4em;
    margin: 0;
    padding: 40px;
}

#pictures {
    color: var(--color-pictures-text);
}

#pathway {
    color: var(--color-pathway-text);
    background-color: var(--color-pathway-bg);

    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
}

#pathwayDescription {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}
#pathwayDescriptionContents {
    max-width: 400px;
}
#pathwayDescriptionContents h2 {
    font-size: 3em;
    margin-bottom: 26px;
}

#pathwayContents {
    flex: 2 1 0;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#pathwayContents a {
    text-decoration: none;
    color: inherit;
}

.pathwayContainer {
    transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;

    flex: 1 1 calc(40% - 16px);
    max-width: calc(40% - 16px);
    box-sizing: border-box;
    
    border-top: 2px solid var(--color-pathway-text);

    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.pathwayContainer h3 {
    font-family: 'Syne';
    font-weight: 680;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.pathwayContainer:hover {
    animation: pathwayBackgroundHighlight .1s alternate, pathwayBorderTopHighlight .1s alternate;
    animation-fill-mode: forwards;
}
.pathwayContainer:hover * {
    animation: pathwayTextHighlight .1s alternate;
    animation-fill-mode: forwards;
}


.pathwayHeader {
    color: var(--color-pathways-text);
}

.box {
    width: 150px;
    height: 150px;
    font-size: 4em;
    text-align: center;
    border: 2px solid;
    margin-bottom: 10px;
    line-height: 1.05em;
    margin-left: auto;
    margin-right: auto;

    animation-duration: 2s;
}

@keyframes anim1 {
    from {transform: translateX(200px)}
}
#box1 {
    animation-name: anim1;
    animation-duration: 2s;
}